name: Rust

on:
  push:
    branches: [ develop, master ]
  pull_request:
    branches: [ develop, master ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: '-Dwarnings' # Never tolerate warnings.

jobs:
  fmt:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
    - name: Check formatting
      run: cargo fmt -- --check

  clippy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
    - name: Check Clippy lints
      run: cargo clippy --all-targets --all-features

  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
    - name: Run tests
      run: cargo test --all-features --verbose
